<div class="documents-section">
  <h3>Documentos Gran Generador</h3>

  <mat-form-field appearance="outline">
    <mat-label>Permiso de ocupación de cauce (si aplica)</mat-label>
    <input type="file" accept=".pdf" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Planos arquitectónicos aprobados</mat-label>
    <input type="file" accept=".pdf" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cronograma de actividades del proyecto</mat-label>
    <input type="file" accept=".pdf" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cuadro de cantidades de RCD a generar</mat-label>
    <p>Discriminado por tipos de RCD conforme al Artículo 2 de la Resolución 0472 de 2017</p>
    <input type="file" accept=".pdf" required>
  </mat-form-field>
</div>
