<!-- ==========================
     USUARIO NO AUTENTICADO
     Solo tabla resumida
=========================== -->
<div *ngIf="!isAuthenticated" data-unauthenticated>
  <h2>Información del PIN</h2>
  <table class="data-table">
    <tr>
      <td><strong>Tipo de PIN</strong></td>
      <td>{{ pinData.tipoPin | uppercase }}</td>
    </tr>
    <tr>
      <td><strong>Número de PIN</strong></td>
      <td>{{ pinData.numeroPin }}</td>
    </tr>

    <!-- DATOS GENERALES SEGÚN TIPO -->
    <ng-container *ngIf="tipo === 'proyecto'">
      <tr>
        <td><strong>Nombre del Proyecto</strong></td>
        <td>{{ pinData.nombreProyecto }}</td>
      </tr>
      <tr>
        <td><strong>Dirección</strong></td>
        <td>{{ pinData.Direccion }}</td>
      </tr>
      <tr>
        <td><strong>Matrícula Inmobiliaria</strong></td>
        <td>{{ pinData.matriculaInmobiliaria }}</td>
      </tr>
    </ng-container>

    <ng-container *ngIf="tipo === 'vehiculo'">
      <tr>
        <td><strong>Placa</strong></td>
        <td>{{ pinData.placa }}</td>
      </tr>
      <tr>
        <td><strong>Modelo</strong></td>
        <td>{{ pinData.modelo }}</td>
      </tr>
      <tr>
        <td><strong>Capacidad</strong></td>
        <td>{{ pinData.capacidad }}</td>
      </tr>
    </ng-container>

    <ng-container *ngIf="tipo === 'resolucion'">
       <tr>
        <td><strong>Tipo de Gestor</strong></td>
        <td>{{ pinData.tipo }}</td>
      </tr>
      <tr>
        <td><strong>Número de Resolución</strong></td>
        <td>{{ pinData.numeroResolucion }}</td>
      </tr>
      <tr>
        <td><strong>Tipo de Aprovechamiento</strong></td>
        <td>{{ pinData.tipoAprovechamiento }}</td>
      </tr>
    </ng-container>

    <tr>
      <td><strong>Fecha de Expedición</strong></td>
      <td>{{ formatDate(pinData.fechaExpedicion) }}</td>
    </tr>
    <tr>
      <td><strong>Fecha de Vencimiento</strong></td>
      <td>{{ formatDate(pinData.fechaVencimiento) }}</td>
    </tr>
  </table>

  <p class="legal-text">
    Este PIN se expide el {{ formatDate(pinData.fechaExpedicion) }} en la ciudad de {{ pinData.ciudadExpedicion }},
    siguiendo los requerimientos establecidos en la resolución 658 de 2019.
  </p>
</div>

<!-- ==========================
     USUARIO AUTENTICADO
     Todo el contenido completo
=========================== -->
<div *ngIf="isAuthenticated" class="container">
  <div *ngIf="loading" class="loading">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Cargando información del PIN...</p>
  </div>

  <div *ngIf="!loading" #pdfContent class="pdf-container">
    <div class="pdf-background">

      <div class="qr-section">
        <qrcode [qrdata]="currentUrl" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
      </div>

      <div class="content-wrapper">
        <div class="pin-header">
          <h1>PIN {{ pinData.tipoPin | uppercase }}: {{ pinData.numeroPin }}</h1>
        </div>

        <div class="pin-data">

          <!-- PROYECTO -->
          <div *ngIf="tipo === 'proyecto'">
            <h2>DATOS DEL GENERADOR</h2>
            <table class="data-table">
              <tr>
                <td><strong>TIPO DE IDENTIFICACIÓN</strong></td>
                <td>{{ pinData.tipoIdentificacion }}</td>
              </tr>
              <tr>
                <td><strong>NÚMERO</strong></td>
                <td>{{ pinData.numeroIdentificacion }}</td>
              </tr>
              <tr>
                <td><strong>NOMBRE O RAZÓN SOCIAL</strong></td>
                <td>{{ pinData.razonSocial }}</td>
              </tr>
            </table>

            <h2>DATOS DEL PROYECTO</h2>
            <table class="data-table">
              <tr>
                <td><strong>NOMBRE DEL PROYECTO</strong></td>
                <td>{{ pinData.nombreProyecto }}</td>
              </tr>
              <tr>
                <td><strong>DIRECCIÓN</strong></td>
                <td>{{ pinData.Direccion }}</td>
              </tr>
              <tr>
                <td><strong>MATRÍCULA INMOBILIARIA</strong></td>
                <td>{{ pinData.matriculaInmobiliaria }}</td>
              </tr>
              <tr>
                <td><strong>FECHA DE INICIO</strong></td>
                <td>{{ formatDate(pinData.fechaInicio) }}</td>
              </tr>
              <tr>
                <td><strong>FECHA DE FINALIZACIÓN</strong></td>
                <td>{{ formatDate(pinData.fechaFinalizacion) }}</td>
              </tr>
            </table>

        <div class="obligaciones-container">
  <h3>Obligaciones del Generador de RCD</h3>
  <p>El generador de RCD deberá cumplir con las siguientes obligaciones al momento de ejecutar las obras:</p>
  <ol>
    <li>El PIN GENERADOR sólo aplica para las obras en mención. En caso de presentar alguna suspensión o modificación de este, se deberá informar inmediatamente a esta autoridad ambiental.</li>
    <li>Este PIN generador corresponde a una inscripción como generador de RCD ante esta autoridad ambiental; bajo ningún motivo este documento lo exime de la expedición de licencias urbanísticas y demás permisos o autorizaciones que las actividades a ejecutar requieran.</li>
    <li>El generador de RCD será responsable por los impactos causados al ambiente derivados de un inadecuado manejo, transporte y disposición de los RCD, por lo que está obligado a trabajar la cadena de gestión integral únicamente con transportadores de RCD inscritos ante el EPA Cartagena y que hayan obtenido su respectivo PIN de autorización.</li>
    <li>Garantizar la limpieza de las vías exteriores a la obra ocasionadas por la salida de los vehículos transportadores de RCD.</li>
    <li>Entregar los RCD únicamente a gestores de RCD para que realicen las actividades de recolección, transporte, almacenamiento, aprovechamiento y/o disposición final en los puntos limpios, sitios de aprovechamiento y/o disposición final, según corresponda.</li>
    <li>Dar cumplimiento a las obligaciones aplicables contenidas en la Resolución 472 de 2017 (MADS) modificada por la Resolución 1257 de 2021 y la Resolución 658 de 2019, modificada parcialmente mediante Resolución 112 de 2020, así como toda normativa que las modifique o sustituya.</li>
    <li>Permitir a los funcionarios realizar las visitas de seguimiento y control que aquí se otorgan, sujetas al cobro estipulado en el plan tarifario de la entidad.</li>
    <li>Los residuos peligrosos resultantes de las actividades de construcción, demolición, reparación o mejoras locativas de las obras civiles o de otras actividades conexas, complementarias o análogas, deberán ser gestionados como residuos peligrosos de acuerdo con la normatividad establecida para su manejo.</li>
  </ol>
</div>

          </div>

          <!-- VEHÍCULO -->
          <div *ngIf="tipo === 'vehiculo'">
            <h2>DATOS DEL TRANSPORTADOR</h2>
            <table class="data-table">
              <tr>
                <td><strong>TIPO DE IDENTIFICACIÓN</strong></td>
                <td>{{ pinData.tipoIdentificacion }}</td>
              </tr>
              <tr>
                <td><strong>NÚMERO</strong></td>
                <td>{{ pinData.numeroIdentificacion }}</td>
              </tr>
              <tr>
                <td><strong>NOMBRE O RAZÓN SOCIAL</strong></td>
                <td>{{ pinData.razonSocial }}</td>
              </tr>
            </table>

            <h2>DATOS DEL VEHÍCULO</h2>
            <table class="data-table">
              <tr>
                <td><strong>PLACA</strong></td>
                <td>{{ pinData.placa }}</td>
              </tr>
              <tr>
                <td><strong>LUGAR DE EXPEDICIÓN</strong></td>
                <td>{{ pinData.lugarExpedicion }}</td>
              </tr>
              <tr>
                <td><strong>MODELO</strong></td>
                <td>{{ pinData.modelo }}</td>
              </tr>
              <tr>
                <td><strong>CAPACIDAD</strong></td>
                <td>{{ pinData.capacidad }}</td>
              </tr>
                 <tr>
                <td><strong>FECHA DE INICIO</strong></td>
                <td>{{ formatDate(pinData.fechaExpedicionPIN) }}</td>
              </tr>
              <tr>
                <td><strong>FECHA DE FINALIZACIÓN</strong></td>
                <td>{{ formatDate(pinData.fechaVencimiento) }}</td>
              </tr>
            </table>

            <div class="obligaciones-container">
              <h3>Obligaciones del Transportador</h3>
              <p>El transportador debe cumplir con lo siguiente:</p>
              <div class="grid-container">
                <div class="grid-item">
                  <strong>1.</strong> Cubrir la carga durante el transporte, evitando el contacto con la lluvia y el viento.
                </div>
                <div class="grid-item">
                  <strong>2.</strong> Contar con las herramientas, equipos necesarios o kit de limpieza.
                </div>
                <div class="grid-item">
                  <strong>3.</strong> Entregar los RCD recolectados y transportados en los sitios autorizados y registrados ante EPA Cartagena y/o autoridad ambiental competente.
                </div>
                <div class="grid-item">
                  <strong>4.</strong> Cumplir las obligaciones contenidas en la Resolución 472 de 2017 (MADS) modificada por la Resolución 1257 de 2021 y la Resolución 658 de 2019, modificada parcialmente mediante Resolución 112 de 2020.
                </div>
                <div class="grid-item">
                  <strong>5.</strong> Utilizar vehículos que cumplan con las normas vigentes de tránsito, transporte y emisiones atmosféricas.
                </div>
                <div class="grid-item">
                  <strong>6.</strong> Aceptar el control y seguimiento ambiental que realizará el EPA Cartagena sobre las actividades registradas relacionadas con el manejo o gestión integral de RCD.
                </div>
                <div class="grid-item">
                  <strong>7.</strong> Está prohibido el almacenamiento temporal o permanente de RCD en zonas verdes, áreas arborizadas, reservas forestales, áreas de recreación y parques, ríos, quebradas, playas, canales, caños, páramos, humedales, manglares y zonas ribereñas.
                </div>
              </div>
            </div>
          </div>

          <!-- RESOLUCIÓN -->
          <div *ngIf="tipo === 'resolucion'">
            <h2>DATOS DEL TITULAR</h2>
            <table class="data-table">
              <tr>
                <td><strong>TIPO DE IDENTIFICACIÓN</strong></td>
                <td>{{ pinData.tipoIdentificacion }}</td>
              </tr>
              <tr>
                <td><strong>NÚMERO</strong></td>
                <td>{{ pinData.numeroIdentificacion }}</td>
              </tr>
              <tr>
                <td><strong>NOMBRE O RAZÓN SOCIAL</strong></td>
                <td>{{ pinData.razonSocial }}</td>
              </tr>
              <tr>
                <td><strong>DIRECCIÓN</strong></td>
                <td>{{ pinData.direccion }}</td>
              </tr>
            </table>

            <h2>DATOS DE LA RESOLUCIÓN</h2>
            <table class="data-table">
                <tr>
        <td><strong>TIPO DE GESTOR</strong></td>
        <td>{{ pinData.tipo }}</td>
      </tr>
    
              <tr>
                <td><strong>TIPO DE APROVECHAMIENTO</strong></td>
                <td>{{ pinData.tipoAprovechamiento }}</td>
              </tr>
            </table>
    <table class="data-table">
            <tr>
              <td><strong>FECHA DE INICIO</strong></td>
              <td>{{ formatDate(pinData.fechaExpedicion) }}</td>
            </tr>
            <tr>
              <td><strong>FECHA DE VENCIMIENTO</strong></td>
              <td>{{ formatDate(pinData.fechaVencimiento)}}</td>
            </tr>
                  <tr>
        <td><strong>CAPACIDAD AUTORIZADA</strong></td>
        <td>{{ pinData.cantidad_autorizada }}</td>
      </tr>
          </table>
           <div class="obligaciones-container">
  <h3>Obligaciones del Gestor de RCD</h3>
  <p>El Gestor de RCD deberá cumplir con las siguientes obligaciones al momento de recibir y manejar los residuos:</p>
  <ol>
    <li>Contar como mínimo con un área de almacenamiento de RCD debidamente adecuada.</li>
    <li>Entregar al gran generador los siguientes soportes del aprovechamiento de RCD en sus actividades:
      <ul>
        <li>Registro fotográfico del proyecto, obra o actividad para la que se requiere el RCD.</li>
        <li>Fecha programada para la recepción de los RCD aprovechables.</li>
        <li>Copia de los permisos, autorizaciones y licencias correspondientes al desarrollo del proyecto, obra o actividad.</li>
      </ul>
    </li>
    <li>Expedir constancia al generador de la cantidad exacta de residuos aprovechados en un tiempo máximo de 15 días calendario posteriores a la recepción del material, conforme al formato del Anexo VI.</li>
    <li>Presentar a la autoridad ambiental competente regional o urbana dentro de los 15 días calendario posteriores a la finalización de cada semestre del año, el reporte del periodo inmediatamente anterior indicando la cantidad de residuos recibidos, utilizando el formato del Anexo III de la Resolución 1257 de 2021.</li>
    <li>Permitir a los funcionarios realizar las visitas de seguimiento y control al PIN Gestor otorgado, sujetas al cobro estipulado en el plan tarifario de la entidad.</li>
    <li>Dar aviso inmediato y por escrito a EPA Cartagena en caso de presentarse cambios o ajustes de las condiciones bajo las cuales se expide el PIN Gestor.</li>
    <li>Dar cumplimiento a las obligaciones contenidas en la Resolución 472 de 2017 (MADS), modificada por la Resolución 1257 de 2021 y la Resolución 658 de 2019, modificada parcialmente mediante Resolución 112 de 2020, así como toda normativa que las modifique o sustituya.</li>
    <li>Garantizar la limpieza de las vías exteriores producto de la entrada y salida de los vehículos transportadores de RCD.</li>
    <li>Los gestores de RCD de puntos limpios, plantas de aprovechamiento y sitios de disposición final deberán dar cumplimiento al Artículo 6º de la Resolución 1257 de 2021.</li>
  </ol>
</div>

          </div>

      

          <p class="legal-text">
            Este PIN se expide el {{ formatDate(pinData.fechaExpedicionPIN) }} en la ciudad de {{ pinData.ciudadExpedicion }},
            siguiendo los requerimientos establecidos en la resolución 658 de 2019.
          </p>

          <div class="signature-section">
            <p>V. B. Subdirección Técnica y Desarrollo Sostenible</p>
          </div>

          <div class="verification-notice">
            <p>
              Se le solicita a todas las autoridades consultar el código QR del documento y verificar
              que la información mostrada coincida con la del PIN {{ pinData.tipoPin | uppercase }} expedido.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading" class="button-container">
    <button mat-raised-button color="primary" (click)="generatePdf()">
      <mat-icon>picture_as_pdf</mat-icon>
      Generar PDF
    </button>
  </div>
</div>
